version: '3.8'

services:
  db:
    image: postgres:13
    container_name: user_management_db
    restart: always
    ports:
      - '5433:5432'
    environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
        POSTGRES_DB: user_management
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: